*[class^="common-"] {
  border-radius: 5px;
  font-size: 13px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
.common-alert {
  color: #daa300;
  background-color: #fff3cd;
  border: #e0b840 1px solid;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.common-alert-shadow {
  color: #ebd38b;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.common-alert a {
  text-decoration: none;
  color: #af8000;
  font-weight: 600;
  font-size: 12px;
}
.common-alert-shadow a {
  color: #c7b16e;
  font-size: 12px;
}
.common-table {
  color: #224947;
  background-color: #d5e5e2;
  border: solid 2px #92bbb4;
}
.common-table tr {
  border-bottom: solid 1px black;
}
.common-div {
  color: #224947;
  background-color: #d5e5e2;
  border: solid 2px #92bbb4;
  padding: 8px 10px;
  box-sizing: border-box;
}
.common-btn {
  color: #224947;
  background-color: #d5e5e2;
  width: 100%;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 5px 0;
  border-radius: 5px;
  border-color: #92bbb4;
  border-width: 1px 1px 3px 1px;
  transition: background-color 0.08s ease-in-out;
}
.common-btn:hover {
  background-color: #8ab4ac;
}
.common-btn:active {
  background-color: #6e948c;
  border-width: 1px 1px 2px 1px;
  border-color: #92bbb4 #92bbb4 transparent #92bbb4;
}
.common-ipt {
  outline: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  background-color: #f3f3f3;
  border: solid 2px transparent;
}
.common-ipt:focus {
  border: solid 2px #92bbb4;
}
.common-div .copyright {
  font-size: 12px;
  float: right;
  color: rgba(80, 138, 135, 0.4);
  text-shadow: #fcfcfc 1px 1px 1px;
}
