#arsWrapper {
  margin-left: 18px;
}
.shit {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-top: 173px;
  border-radius: 5px;
}
.shit.n-shit {
  margin-top: 173px;
}
.shit table {
  min-width: 100%;
}
.shit-job {
  padding: 3px;
}
.shit-job .stage-cell[contenteditable="true"]:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.shit li {
  list-style: none;
}
.toggle-mode {
  cursor: pointer;
  position: absolute;
  right: 12px;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 12px;
}
.toggle-mode img {
  width: 16px;
  height: 16px;
}
.shit .key {
  font-size: 13px;
  min-width: 100px;
}
.shit .value {
  font-size: 14px;
  font-weight: bolder;
}
.shit tr:nth-of-type(3) td:nth-of-type(2) {
  background-color: rgb(146, 187, 180);
  /* background: rgba(0, 0, 0, 0.07); */
}
.copy-btn {
  margin-top: 6px;
}
.common-alert {
  margin-top: 6px;
}
.release-code {
  margin-bottom: 6px;
  border-radius: 5px;
}
.release-code select {
  width: 72px;
  cursor: pointer;
}
