/* some style */
dl,
dt,
dd {
  margin: 0;
}
section {
  width: 100%;
}
hr {
  width: 100%;
  border: none;
  border-top: solid #eaeaea 1px;
}

/* and others */
.universe {
  color: #222;
  text-align: center;
  height: 100%;
}
.earth {
  width: 490px;
  height: 100%;
  text-align: left;
  margin: 0 auto;
}
.context,
.content {
  font-size: 14px;
  width: 100%;
}
.container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  background-color: #fcfcfc;
  position: relative;
}
.container .logo-container {
  width: 100%;
  height: 52px;
  background-color: #bbb;
  font-size: 15px;
  color: #efefef;
}
.container .options-container {
  width: 100%;
}
.container .logo-container .logo {
  width: 52px;
  height: 52px;
}
.context {
  margin-bottom: 20px;
}
.container .page-title {
  color: #777;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.context .title {
  position: relative;
  font-weight: bold;
  letter-spacing: 2px;
  color: #555;
  margin-bottom: 3px;
}
.context .title .drag-bar{
  display: none;  
}
.context:hover .title .drag-bar {
  position: absolute;
  width: 12px;
  height: 100%;
  top: 0;
  left: -12px;
  cursor: move;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  letter-spacing: 0;
}
.content {
  position: relative;
}
.content .btn{
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  border: none;
  font-size: 16px;
  font-weight: bold;
  display: none;
  color: #777;
}
.context:hover .content .insert-btn {
  display: block;
  right: -20px;
}
.context:hover .content .remove-btn {
  display: block;
  right: -40px;
}
.content input {
  outline: none;
  border: none;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  background-color: #f3f3f3;
}
.content input:hover,
.content input:focus {
  background-color: #e9e9e9;
}
.submit-btn {
  outline: none;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 0;
}
.container aside {
  color: #d1d1d1;
  font-size: 12px;
  width: 100%;
}
.container aside * {
  color: #d1d1d1;
  display: inline;
}
.set-success {
  display: none;
  background-color: rgba(60, 60, 60, 0.5);
  padding: 6px;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 1px 1px 2px #4e4e4e;
}
